<dom-module id="vc-menuButtonListStyle">
    <template>
        <style is="custom-style">
            :host {
                display: block;
            }
            
            .vc-menuButtonList2 {
                /*margin: 0 20px;*/
                width: 100%;
                padding: 0 0px;
                margin-left: auto;
                margin-right: auto;
                height: 128px;
                background-color: var(--app-primary-color);
                background-image: url("../vc-app/images/veda13.png");
                background-position-x: -342px;  
            }
            
            iron-selector.vc-menuButtonList {
                width: 128px;
            }
            
            .iron-selected {
                background: #eee;
                width: 128px;
            }
            
            app-toolbar.vc-menuButtonList {
                height: 100%;
                width: 100%;
                padding: 0 0px;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </template>
</dom-module>