<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../vc-menuButton/vc-menuButton.html">
<link rel="import" href="vc-menuButtonListStyle.html">


 <!-- <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
  <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
  <link rel="import" href="../../iron-icons/iron-icons.html">
  <link rel="import" href="../../paper-styles/color.html">
  <link rel="import" href="../paper-button.html">-->

<dom-module id="vc-menuButtonList">
    <style include="vc-menuButtonListStyle"></style>
    <template>
        <app-toolbar class="vc-menuButtonList2"></app-toolbar>
        <app-toolbar class="vc-menuButtonList">
        <iron-selector selected=[[page]] attr-for-selected="name" class="vc-menuButtonList" role="navigation">
            <template is="dom-repeat" items="[[buttons]]" as="button">
                <vc-menuButton name= [[button.page]] icon= [[button.icon]]></vc-menuButton>
                <!--<paper-button raised>raised</paper-button>-->
            </template>
        </iron-selector>
        </app-toolbar>
    </template>
</dom-modules>
<script src="vc-menuButtonList.js"></script>