<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="vc-userPasswordEditStyle">
    <template>
        <style is="custom-style">
            :host {
                display: block;
                padding: 0px;
                top: -30px;
            }
            
            paper-password-input {
                /*--paper-input-container-color: #fff;*/
                --paper-input-container-color: rgb(150, 173, 181);
                --paper-input-container-focus-color: rgb(150, 173, 181);
                --paper-input-container-invalid-color: #fff;
                --paper-input-container-input-color: #fff;
                --paper-input-container-label: {
                     
                }
                --paper-input-container-input: {
                    line-height: 14px;
                    font-size: 14px;
                }
                --paper-input-container-label: {
                    line-height: 14px;
                    font-size: 12px;
                }
                --paper-input-container-label-floating: {
                    line-height: 14px;
                    font-size: 14px;
                }
                
                --paper-input-container: {
                    line-height: 14px;
                    padding-bottom: 4px;
                }

                --paper-input-container-label-focus: {
                   line-height: 14px;   
                   font-size: 14px;                 
                }

                
                
            }
        </style>
    </template>
</dom-module>