<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="vc-menuButtonStyle.html">
<dom-module id="vc-menuButton">
    <style include="vc-menuButtonStyle"></style>
    <template>
        <div class="vc-menuButton">
        <a href=""><iron-icon class="vc-menuButton" src={{icon}}>
        </iron-icon></a>
        </div>
        
    </template>    
</dom-modules>
<script src="vc-menuButton.js"></script>
