<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="vc-userLoginButtonStyle">
    <template>
        <style is="custom-style">
            :host {
                display: block;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
            
            a,a:hover {
                display: block;
                text-align: center;
                margin: 0px;
                padding-top: 6px;
                height: 32px;
                width: 128px;
                font-size: 12px;
                color: #25191c;
                text-decoration: none;
            }
            
            div.vc-userLoginButton {
                display: inline-block;
                vertical-align: center;
                background-image: url("images/ico04.png");
                background-repeat: no-repeat;
                background-position-y: 0px;
                max-width: 100%;
                height: auto;
                width: auto;
                margin-top: 2px;
            }
        </style>
    </template>
</dom-module>