<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="vc-userViewStyle">
    <template>
        <style is="custom-style">
            :host {
                display: block;
                padding: 0px;
            }

            .panelContainer {
                top:0;
                left:0;  
                width: 100%;
                height: 100%; 
                position: absolute;
            } 
           
            #login {
                padding: 0px;
                height: 128px;
            }
            
            #logout {
                padding: 0px;
                height: 128px;
            }    

            .card {
                top: 0px;
                margin: 0px;
                margin-right: 32px;
                padding-top: 0px;
                color: #757575;
                border-radius: 5px;
                background-color: var(--app-primary-color);
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
                height: 128px;
                display: block;
            }
            
            .userViewColumn {
                float: left;
                margin: 4px;
                padding-left: 4px;
                margin-top: 0px;
                top: 0px;
            }
            
            paper-drawer-panel {
                --paper-drawer-panel-main-container: {
                    background-color: transparent;
                    display: block;
                    text-align: right;
                };
                --paper-drawer-panel-scrim: {
                    opacity: 0;
                    visibility: hidden;
                    display: none;
                };
                --paper-drawer-panel-drawer-container: {
                    display: block;
                    background-color: transparent;
                };
            }
            
            #panelCircle {
                position: absolute;
                left: -32px;
                top: 0px;
            }
            
            #initPanel {
                margin-right: 32px;
            }
            
            .big {
                --iron-icon-height: 32px;
                --iron-icon-width: 32px;
                margin-top: -2px;
            }
            
            .circle {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-top: 4px;
                text-align: center;
                color: #757575;
                border-radius: 50%;
                background: var(--app-primary-color);
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }
            
            #crappyFocus {
                position: absolute;
                left: 0px;
                top: -100px;
            }
        </style>
    </template>
</dom-module>