<link rel="import" href="../../../bower_components/polymer/polymer.html">

<!-- shared styles for all views -->
<dom-module id="vc-user-theme">
    <template>
        <style is="custom-style">
             :root {
                --vc-user-shared-styles-paper-input-container-theme-line-height: 14px;
                --vc-user-shared-styles-paper-input-container-theme-font-size: 14px;
                --vc-user-shared-styles-paper-input-container-theme-input-height: 20px;
                --vc-user-shared-styles-paper-input-container-theme-floating-height: 12px;
            }
        </style>
    </template>
</dom-module>