<!doctype html>
<link rel="import" href="../../../bower_components/iron-validator-behavior/iron-validator-behavior.html">

<!--
Validates that the value has a certain minimal length
-->
<script>
	(function () {
		Polymer({
			is: 'vc-user-password-validator',
			properties: {
				/**
				 * Minimal length
				 */
				minLength: Number
			},
			behaviors: [
				Polymer.IronValidatorBehavior
			],
			validate: function (value) {
				return value.length >= this.minLength && value.length < 255;
			}
		});
	})();

</script>